*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--bg-main: #131c23;
	--bg-white: #ffffff;
	--bg-white-05: rgba(255, 255, 255, 0.5);
	--bg-white-09: rgba(255, 255, 255, 0.9);

	--text-main: #484848;
	--text-white: #ffffff;
	--text-black: #000000;
	--text-secondary: #4c758b;
	--text-placeholder: #959595;

	--table-yellow: #ff9900;
	--table-orange: #ff3d00;
	--table-blue: #00c2ff;
	--table-green: #35a101;
	--table-hover: #c8d1d6;

	--border-main: #4c758b;
	--border-secondary: rgba(81, 125, 150, 0.3);

	--radius-main: 10px;
}

html,
body {
	scroll-behavior: smooth;
	scroll-padding-top: 40px;
}

.srOnly {
	height: 1px;
	width: 1px;
	position: absolute;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.tx-center {
	text-align: center;
}

.scrollbar {
	scrollbar-width: thin;
}
